<form method="get" action="/save_edit">
  <input type="text" id="name" name="name"><br><br>
  <textarea id="content" placeholder="Note" name="content" rows="10" cols="40"></textarea>
  <input type="submit" value="Submit" style="font-size: 300%;"> 
</form>
