<div class="note">
  <h1 class="notename">{{title}}</h1>
  <p class="notecontent">
    {{content}}
  </p>
  <a class="buttonlink" href="/edit?id={{id}}">edit</a>
  <a class="buttonlink" href="/delete_confirm?id={{id}}">delete</a>
</div>
