<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>smolnote web</title>
    <style>
      * {
        font-family: sans-serif;
      }
      .note {
        border: solid 3px;
        padding: 10px;
      }
      .buttonlink {
        font-size: 2em;
      }
      .notecontent {
          font-family: monospace;
      }
    </style>
	</head>
  <body>
    {{{content}}}
	</body>
</html>
